.section-images {
  padding-top: 47px;
  padding-bottom: 94px;
  display: none;
  @include desktop {
    display: contents;
    max-width: 1200px;
  }
}

.images__label {
  position: relative;
}

.images__bg {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.images__text {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
