:root {
  --main-color: #2196f3;
  --accent-color: #188ce8;
  --secondary-color: #000000;
  --background-color: #ffffff;
  --background-block: #2f303a;
  --background-section: #f5f4fa;
  --background-button: #f5f4fa;
  --white-color: #ffffff;
  --text-color: #757575;
  --text-contact: rgba(255, 255, 255, 0.6);
  --title-color: #212121;
}
